##Reforço SQL Aula 2

####O que será abordado na aula de hoje:

- Revisão da aula passada
- Comandos SQL avançados
- Integração do MySQL com o Python
- Atividade prática

###Revisão

Na aula passada, vimos os conceitos básicos do SQL, a criação de um banco de dados com o comando



```
CREATE DATABASE nome_do_banco
```

Vimos também a criação de tabelas com o comando



```
CREATE TABLE nome_tabela (
  coluna1 tipo,
  coluna2 tipo
)
```

Além disso, também vimos os comandos que fazem a manipulação das tabelas, que são esses:

```
INSERT INTO nome_tabela (coluna1, coluna2, coluna3)
VALUES (valor1, valor2, valor3);
```

```
SELECT colunas FROM nome_tabela WHERE condicao;
```

```
UPDATE nome_tabela
SET coluna1 = valor1
WHERE condicao;
```

```
DELETE FROM nome_tabela
WHERE condicao;
```

###Foreign Keys

Na aula passada, avançamos mais um pouco e vimos também sobre, foreign key, que nada mais é que uma coluna ou até mesmo um conjunto de colunas que estabelece uma relação entre dados de duas ou mais tabelas.

Certo, agora que relembramos alguns conceitos da aula passada, vamos fazer uma atividade para relembrar um pouco de todos os assuntos:

- 1 - Crie duas tabelas, uma de cursos e outra de alunos, a tabela de curso, vai ter as seguintes colunas:

      id
      nome

  Já a tabela de alunos vai ter:
      id
      nome
      idade

Lembre-se, as duas tabelas vão se relacionar, então, veja onde melhor se encaixa essa relação. Lembrando que, um aluno, só pode estar matriculado em um curso. Ao criar essas tabelas, insira alguns dados nas tabelas

---
###Comandos SQL avançados


Agora, veremos mais alguns tipos de seleções que podemos fazer com SQL.

```
SELECT * FROM nome_tabela WHERE condição
```

Podemos utilizar o WHERE para colocar condições nos nossos SELECT.

```
SELECT * FROM nome_tabela ORDER BY coluna ASC ou DESC
```

Acima, vimos que podemos fazer seleções por ordenações também, de forma crescente ou decrescente.

Outro tipo de seleção que é muito comum também, é a seleção com JOIN, essa seleção são separadas pela seguinte forma:

- INNER JOIN: Retorna registros que têm valores correspondentes em ambas as tabelas.
- LEFT JOIN (ou LEFT OUTER JOIN): Retorna todos os registros da tabela à esquerda e os registros correspondentes da tabela à direita. Se não houver correspondência, retorna NULL para as colunas da tabela à direita.
- RIGHT JOIN (ou RIGHT OUTER JOIN): Retorna todos os registros da tabela à direita e os registros correspondentes da tabela à esquerda. Se não houver correspondência, retorna NULL para as colunas da tabela à esquerda.

Vamos utilizar o exemplo com a nossa tabela já criada de cursos:

```
SELECT alunos.nome AS aluno, cursos.nome AS curso
FROM alunos
INNER JOIN cursos ON alunos.curso_id = cursos.id;
```

O comando acima, combina registros que têm correspondências em ambas as tabelas.

```
SELECT alunos.nome AS aluno, cursos.nome AS curso
FROM alunos
LEFT JOIN cursos ON alunos.curso_id = cursos.id;
```

O left join, retorna todos os registros da tabela alunos e os registros correspondentes da tabela cursos. Se não houver correspondência, retorna NULL para as colunas da tabela cursos.


```
SELECT alunos.nome AS aluno, cursos.nome AS curso
FROM alunos
RIGHT JOIN cursos ON alunos.curso_id = cursos.id;
```

O right join, retorna todos os registros da tabela cursos e os registros correspondentes da tabela alunos. Se não houver correspondência, retorna NULL para as colunas da tabela alunos.

###Integração MySQL com Python

Primeiro, para começarmos, vamos criar o ambiente virtual para instalar as nossas dependências.

```
python3 -m venv nome_do_ambiente
```

Porém, também há a necessidade de ativar o ambiente virtual com o comando:

```
nome_do_ambiente\Scripts\activate
```

Agora, com o nosso ambiente criado, vamos precisar instalar uma lib que é necessária para conectar o MySQL com o nosso código Python.

Para isso, utilizamos o comando:

```
pip install mysql-connector-python
```

Agora, instalado o nosso ambiente, precisamos importar no nosso código Python.

```
import mysql.connector
```

Agora, precisamos nos certificar que temos um banco de dados MySQL rodando e que você conhece o host, user, password e database que você quer acessar.

Se soubermos tudo isso, podemos conectar o banco com o seguinte comando:

```
conn = mysql.connector.connect(
    host="localhost",
    user="seu_usuario",
    password="sua_senha",
    database="nome_do_banco_de_dados"
)
```

Outra variável que precisamos criar é:

```
cursor = conn.cursor()
```

Que vai ser responsável por executar comando SQL dentro do Python

Vamos executar nossos primeiros comandos:

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS cursos (
        id INT PRIMARY KEY,
        nome VARCHAR(50)
    )
""")

cursor.execute("""
    CREATE TABLE IF NOT EXISTS alunos (
        id INT PRIMARY KEY,
        nome VARCHAR(50),
        curso_id INT,
        FOREIGN KEY (curso_id) REFERENCES cursos(id)
    )
""")

cursor.executemany("""
    INSERT INTO cursos (id, nome) VALUES (%s, %s)
""", [
    (1, 'Matemática'),
    (2, 'Física'),
    (3, 'Química')
])

cursor.executemany("""
    INSERT INTO alunos (id, nome, curso_id) VALUES (%s, %s, %s)
""", [
    (1, 'Ana', 1),
    (2, 'Bruno', 2),
    (3, 'Carlos', 3),
    (4, 'Daniela', None)
])

conn.commit()

cursor.execute("""
    SELECT alunos.nome AS aluno, cursos.nome AS curso
    FROM alunos
    INNER JOIN cursos ON alunos.curso_id = cursos.id
""")
for row in cursor.fetchall():
    print(row)

cursor.execute("""
    SELECT alunos.nome AS aluno, cursos.nome AS curso
    FROM alunos
    LEFT JOIN cursos ON alunos.curso_id = cursos.id
""")
for row in cursor.fetchall():
    print(row)

cursor.execute("""
    SELECT alunos.nome AS aluno, cursos.nome AS curso
    FROM alunos
    RIGHT JOIN cursos ON alunos.curso_id = cursos.id
""")
for row in cursor.fetchall():
    print(row)

cursor.close()
conn.close()

Certo, então, se você entendeu, sabe que a conexão faz apenas com que você consiga inserir código SQL dentro de strings Python, então, perceba que são apenas strings, então, você pode utilizar variáveis python dentros dessas strings

Com isso, vamos fazer uma atividade para fixar o conhecimento.

- 1 Agora, você pode até utilizar o mesmo banco de dados, mas você deve criar a tabela de contatos e no seu código Python, vocês devem criar um script de terminal, que deixe o usuário Criar um contato, atualizar um contato, deletar um contato e visualizar todos os contatos.