#Reforço SQL Aula 1

####O que será abordado na aula de hoje:

- Definição de banco de dados
- Tipos de Bancos de dados
- O que é um SGBD
- Comandos de SQL

### O que é um banco de dados

O banco de dados é uma coleção de dados estruturados ou não estruturados, organizados de maneira que facilita a recuperação, gestão e atualização dessas informações. Esses dados podem ser qualquer tipo informação, desde listas de clientes, transações financeiras, registros de inventário, até links e conteúdos de websites.

### Principais componentes de um Banco de dados:
- Tabelas
- Registros
- Campos
- Chaves primárias
- Chaves estrangeiras

###Tipos de Bancos de Dados

Atualmente, possuímos dois tipos de bancos de dados, que são eles:

**Bancos de Dados Relacionais**: Armazenam dados em tabelas e usam SQL (Structured Query Language) para gerenciar e consultar dados. Exemplos incluem MySQL, PostgreSQL, SQLite, e Oracle.

**Bancos de Dados não-relacionais**: Não usam tabelas para organizar os dados. Em vez disso, usam formatos como documentos, grafos, colunas ou pares chave-valor. Exemplos incluem MongoDB, Cassandra, Redis, e Neo4j.

### O que é um SGBD

Um Sistema de Gerenciamento de Banco de Dados (SGBD) é um software que interage com os usuários, aplicativos e o próprio banco de dados para capturar e analisar os dados. Ele permite a definição, criação, consulta, atualização e administração dos bancos de dados. Exemplos de SGBDs incluem:

  - MySQL: Um dos bancos de dados relacionais mais populares, usado amplamente na web.
  - PostgreSQL: Conhecido por sua robustez e suporte a extensões.
  - SQLite: Um banco de dados leve, ideal para aplicações embarcadas.
  - MongoDB: Um banco de dados NoSQL popular que armazena dados em documentos JSON.

###Comandos de SQL

Antes de começarmos com os comandos de SQL, vamos fazer uma breve passagem do que é SQL.

SQL, que significa Structured Query Language (Linguagem de Consulta Estruturada), é uma linguagem de programação padrão utilizada para gerenciar e manipular bancos de dados relacionais. Aqui está uma explicação breve sobre o que é SQL:
Definição e Propósito

SQL é usada para interagir com bancos de dados relacionais, permitindo realizar diversas operações, como:

  - Consultar dados: Recuperar informações específicas de uma ou mais tabelas (SELECT).
  - Inserir novos dados: Adicionar novos registros a uma tabela (INSERT).
  - Atualizar dados existentes: Modificar registros já existentes (UPDATE).
  - Excluir dados: Remover registros de uma tabela (DELETE).
  - Criar e modificar estruturas de banco de dados: Definir e alterar tabelas e outros objetos (CREATE, ALTER, DROP).

Principais Comandos SQL

  - DDL (Data Definition Language): Usada para definir a estrutura do banco de dados.
        CREATE: Cria novos objetos no banco de dados (tabelas, índices, etc.).
        ALTER: Modifica objetos existentes.
        DROP: Exclui objetos do banco de dados.

  - DML (Data Manipulation Language): Usada para manipular os dados dentro das tabelas.
        SELECT: Recupera dados do banco de dados.
        INSERT: Adiciona novos dados.
        UPDATE: Modifica dados existentes.
        DELETE: Remove dados.

  - DCL (Data Control Language): Usada para controlar o acesso aos dados.
        GRANT: Concede permissões a usuários.
        REVOKE: Revoga permissões concedidas.

  - TCL (Transaction Control Language): Usada para gerenciar transações no banco de dados.
        COMMIT: Confirma uma transação.
        ROLLBACK: Reverte uma transação.

Certo, agora que entendemos melhor o que é SQL em si e seus principais comandos, vamos verificar como utilizar esses comandos em um SGBD, na aula de hoje veremos isso no MySQL.

Para começarmos, vamos criar nosso primeiro banco de dados, utilizando o seguinte comando:



```
CREATE DATABASE meu_primeiro_banco;
USE meu_primeiro_banco;
```

Certo, agora que criamos e estamos utilizando o banco de dados que criamos, vamos criar nossa primeira tabela, utilizando o seguinte comando



```
CREATE TABLE nome_da_tabela (
  nome_coluna tipo_coluna,
  nome_coluna tipo_coluna,
  nome_coluna tipo_coluna
);
```

Olhando o exemplo acima, vamos para nossa primeira atividade:

- 1 - Crie uma tabela chamada clientes e crie os seguintes campos, todos como tipo de texto:           
    - Nome
    - Email
    - data_nascimento

Feito a atividade, perceba que temos alguns detalhes que devemos corrigir, que nesse caso será, o campo data_nascimento, que não deve ser do tipo texto, deve ser um data e podemos adicionar outro campo que é o endereço do cliente.

Certo, para aplicarmos essa alteração, podemos fazer de duas formas, a primeira forma, seria mais bruta e poderia implicar em algumas questões da minha aplicação, que seria apagar a tabela e reescrevar ela. Já a outra forma, é aplicarmos isso um comando para alterar a tabela, que é o ALTER TABLE:


No caso abaixo, podemos adicionar uma nova coluna com o seguinte comando:
```
ALTER TABLE nome_tabela ADD nome_coluna tipo_dado;
```

Já, se quisermos alterar algum dado, utilizamos o seguinte comando:

```
ALTER TABLE nome_tabela MODIFY nome_coluna tipo_dado;
```

Continuando, como vimos acima, agora temos a capacidade de criar e alterar tabelas dentro do nosso banco de dados.

E como foi dito acima, temos a capacidade também de deletar a nossa tabela do banco do de dados, com o seguinte comando:

```
DROP TABLE clientes;
```

Esses são os comandos de **DDL** que foi explicado mais acima.

###DML

Como vimos, esses são os comandos que usamos para manipular dados de um tabela.

Nesse caso, o primeiro comando que veremos é o de inserir dados na tabela.

Para isso inserir os dados, utilizamos o seguinte o comando:

```
INSERT INTO nome_tabela (coluna1, coluna2, coluna3)
VALUES (valor1, valor2, valor3);
```

Desse modo, vamos partir para segunda atividade, com a tabela já criada, clientes, insira dados dentro dessa tabela, cadastrando alguns clientes com o que vimos acima.

Com os clientes cadastrados, temos que ter a capacidade de selecionar esses clientes, para isso temos um comando também no SQL.

```
SELECT colunas FROM nome_tabela WHERE condicao;
```

Esse é um exemplo de SELECT que temos no SQL

Outra coisa que pode acontecer dentro da nossa aplicação é a atualização de dados, para isso, utilizamos um comando dentro do SQL:

```
UPDATE nome_tabela
SET coluna1 = valor1
WHERE condicao;
```

Olhando o exemplo acima, vamos para a terceira atividade, atualize todos os endereços dos clientes cadastrados.

Agora, o último comando que temos de DML é o para deletar os dados, para isso, temos o seguinte comando:

```
DELETE FROM nome_tabela
WHERE condicao;
```

Com base nesse comando, delete os últimos dois registros dentro da sua tabela.